<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >



<suite name="Regression Suite"  preserve-order="true" parallel="false" thread-count="1" verbose="10">

    <listeners>
        <listener class-name="com.fincash.customListner.Listener"></listener>
       <!--
       <listener class-name="com.fincash.customListner.Retry"></listener>
        <listener class-name="com.fincash.customListner.RetryListener"></listener>
        <listener class-name="com.fincash.customListner.WebEventListener"></listener>
        -->
    </listeners>
    <!--
    <test name="test01">
        <classes>
            <class name="login.TC001_VerifyLoginWithInvalidCredential"></class>
        </classes>
    </test>
    <test name="test02">
        <classes>
            <class name="signUp.TC004_VerifySignUpwithValidCredential"></class>
        </classes>
    </test>
    <test name="test03">
        <classes>
            <class name="KYC.TC005_verifyMobileNumber"></class>
        </classes>
    </test>
    <test name="test1">
        <classes>
            <class name="Registration.TC006_registration"></class>
        </classes>
    </test>
    <test name="test2">
        <classes>
            <class name="Registration.TC007_AddressDetails"></class>
        </classes>
    </test>
    <test name="test3">
        <classes>
            <class name="Registration.TC008_BankAccount"></class>
        </classes>
    </test>
    <test name="test4">
        <classes>
            <class name="Registration.TC009_Fatca"></class>
        </classes>
    </test>
    <test name="test5">
        <classes>
            <class name="Registration.TC010_Nominee"></class>
        </classes>
    </test>

    -->
    <test name="test6">
        <classes>
            <class name="DocumentUpload.TC011_UploadAllDocument"></class>
        </classes>
    </test>
</suite>