<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression Suite">
    <test name="TC001_VerifyLoginWithInvalidCredential">

        <classes>
            <class name="KYC.TC005_verifyMobileNumber"></class>

        </classes>


    </test>
</suite>